<!DOCTYPE html>
<html style="height:100%;">
    <head>
        <meta charset="utf-8" />
        <base href="/" />
        <link href="manifest.json" rel="manifest" />
        <link rel="apple-touch-icon" sizes="512x512" href="icon-512.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <% for (const css of htmlWebpackPlugin.files.css) { %>
            <link href="<%= css %>" rel="stylesheet">
        <% } %>

        __CSS__
    </head>

    <body style="height:100%; overflow-y:hidden;">
        <main style="display:flex; height:100%; min-height:100vh;" id="react-app">__APP__</main>
        <script charset="utf-8">window.__data = __STATE__;</script>

        <% for (const js of htmlWebpackPlugin.files.js) { %>
            <script src="<%= js %>"></script>
        <% } %>

        <% if (htmlWebpackPlugin.options.devServer) { %>
            <script src="<%= htmlWebpackPlugin.options.devServer.url %>/webpack-dev-server.js"></script>
        <% } %>
    </body>
</html>
